/.venv
/.bigvenv
/SentEval/data/downstream/*
/data
/result
/run_rankcse.slurm
/runs
/experiments
/experiment0.*
/wandb
/notebooks
/mydata
/.cache
/__pycache__
/assets
/rankcse/__pycache__